h1 {
    text-align:center;
    background-color:white;
    border-style:solid;
}

#navbar {
    background-color:#00FF00;
    text-align:center;
}

#navbar > li {
    background-color:#F6FF9A;
    display:inline-block;
    padding:3px;
    border:2px solid black;
    color: red;
  /*  margin: 5px;*/
}
 table, tr, td {
         background-color:gray;
            border: 3px solid black
        }
body {
    background-color:gray;
}
input {
    width:80px;
    border-color:black;
    border-width:2px;
}
text {
    background-color:yellow;
}